h1 {
  color: blue;
  text-align: center;
}

.important {
  color: green;
  font-weight: bold;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: gold;
  font-weight: 400;
  font-size: 30px;
}

p.important {
  font-size: 24px;
}

img {
  width: 50%;
}

/*==========================================================
Media Queries
==========================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {
  body {
  background: #FF6347;
  color: #FFF;
  }
}

@media screen and (max-width: 480 px) {
  body {
    background: #4682B4;
  }
}
